<div class="banner">
  <div class="container align-middle">
  <h1 >JULIANA'S COCKTAILS</h1>
</div>


</div>

<div class="container">
  <h1>OUR SPECIALITIES</h1>

  <% @cocktails.each do |cocktail| %>

    <div class="main-card" style="width: 18rem;">
      <%= image_tag("1.jpg", :alt => "rss feed", class:"card-img-top") %>
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p><%= link_to 'Show', cocktail %></p>
        <p><%= link_to 'Edit', edit_cocktail_path(cocktail), class: 'btn btn-primary' %></p>
        <p><%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></p>


      </div>
    </div>
  <% end %>


  <%= link_to 'New Cocktail', new_cocktail_path %>
</div>
