<div class="container p-4">

  <h1 class="mt-2"><%= @cocktail.name %></h1>
  <!-- only want to display the photos if the instance has them, otherwise our code will break -->
  <% if @cocktail.images.attached? %>
    <% @cocktail.images.each do |image| %>
      <%= cl_image_tag(image.key, width: 400, height: 300, crop: :fill) %>
    <% end %>
  <% end %>
  <h2 class="my-2">Ingredients</h2>
  <% @cocktail.doses.each do |dose| %>
    <h3><%= dose.description%> - <%= dose.ingredient.name%></h3>
  <% end %>

  <div>
    <%= link_to 'Add the ingredients', new_cocktail_dose_path(@cocktail), class:"btn btn-dark mt-4" %>
  </div>
  <div>
    <%= link_to 'Back', cocktails_path, class:"btn btn-dark mt-4"  %>
    <%= link_to 'Edit', edit_cocktail_path(@cocktail), class:"btn btn-dark mt-4" %>
    <%= link_to 'Delete', @cocktail, class:"btn btn-dark mt-4", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
